@import "tailwindcss";

@theme {
    /* Mendaftarkan Plus Jakarta Sans sebagai font utama */
    --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;

    /* Anda juga bisa menambah custom warna di sini jika mau */
    --color-brand-blue: #2563eb;
}

.leaflet-container {
    width: 100%;
    height: 100%;
    z-index: 1;
}
